<h1>Přehled studentů</h1>

<table>
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Příjmení</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.surname %></td>
        <td><%= link_to 'Zobrazit', student, :alt => "Zobrazit studenta #{student.name} #{student.surname}" %></td>
        <td><%= link_to 'Upravit', edit_student_path(student), :alt => "Upravit studenta #{student.name} #{student.surname}" %></td>
        <td><%= link_to 'Smazat', student, method: :delete, data: { confirm: 'Opravdu chcete pokračovat?' }, :alt => "Smazat studenta #{student.name} #{student.surname}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Přidat nového studenta', new_student_path %>
