<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id, "Student" %><br>
    <%= f.select :student_id,options_for_select(Student.all.collect{|student| ["#{student.name} #{student.surname}", student.id]}, @lesson.student_id), include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :date, "Začátek hodiny" %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :note, "Poznámka" %><br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
