<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @lesson.student_id %>
</p>

<p>
  <strong>Datum a čas začátku:</strong>
  <%= @lesson.date %>
</p>

<p>
  <strong>Poznámka:</strong>
  <%= @lesson.note %>
</p>

<%= link_to 'Upravit', edit_lesson_path(@lesson) %> |
<%= link_to 'Zpět', lessons_path %>
